/* colors: 
    #F2F6D0
    #D0E1D4
    #D9D2B6
 */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D0E1D4;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #F2F6D0;
    border: 1px solid #00000041;
    box-shadow: 6px 6px 10px;
    padding: 12px;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 12px;
    width: 90%;
    align-items: center;
    justify-content: center;
}


h1{
    margin-bottom: 12px;
}

#form-mercadoria {
    display: flex;
    flex-direction: column;
}

.form-mercadoria-item {
    display: flex;
    margin-bottom: 6px;
    align-items: center;
    justify-content: center;
    
}

.btn-form {
    height: 24px;
    background-color: #cefab9;
    border: 1px solid #000;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}